---
import { HeroBanner } from "./designs/HeroBanner";
---

<HeroBanner client:only="react" />
<div class="psGitHubCon">
    <div class="psGitHubConInner">
        <img
          class="psGitHubImg"
          src="https://raw.githubusercontent.com/sinhaparth5/sinhaparth5/refs/heads/main/profile-3d-contrib/profile-night-rainbow.svg"
          alt="github contrib image"
        />
      </div>
</div>