---
import { HeroBanner } from "./designs/HeroBanner";
import { HomePageGrid } from "./designs/HomePageGrid";

---

<HeroBanner client:only="react" />
<div class="container mx-auto mt-8 text-white">
    Hello Parth
</div>
