---
import { FloatingDockDemo } from "./FloatingDemo";
import { TimelineDemo } from "./TimelineDemo";
---

<div class="psCon">
	<div class="psConInner">
		<div class="psText">
			Parth Sinha
		</div>
	</div>
</div>