---
import { FloatingDockDemo } from "./FloatingDemo";
import { TimelineDemo } from "./TimelineDemo";
---

<div class="container mx-auto flex bg-mesh h-full bg-no-repeat">
	<div class="flex justify-center items-center">
		<div class="text-8xl text-white font-bold">
			Parth Sinha
		</div>
	</div>
</div>